/*
Extra Small <576px
Small ≥576px
Medium ≥768px
Large ≥992px
X-Large ≥1200px
XX-Large ≥1400px
*/

/* CONFIGURAÇÃO DE MARGEM DE PROTEÇÃO PARA A LARGURA DOS CONTAINERS */

/* Extra Small Devices */
@media (max-width: 575.98px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Small Devices */
@media (min-width: 576px) {
    .container-sm,
    .container,
    .navbar .container-fluid .navbar-collapse {
        max-width: 540px;
    }
}

/* Medium Devices */
@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container,
    .navbar .container-fluid .navbar-collapse {
        max-width: 690px; /* editado */
    }
}

/* Large Devices */
@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container,
    .navbar .container-fluid .navbar-collapse {
        max-width: 960px;
    }

    /* ------- NAVBAR ------- */

    .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse,
    .navbar .container-fluid .navbar-collapse {
    	padding-left: 0;
    }

    .navbar-expand-lg .navbar-nav {
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        line-height: 1.25rem;
        text-align: center;
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: rgba(255,255,255,.8);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover {
    	color: white;
    }

    /* ---------------------- */
}

/* Extra Large Devices */
@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container,
    .navbar .container-fluid .navbar-collapse {
        max-width: 1110px; /* editado */
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Extra Extra Large Devices */
@media (min-width: 1400px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1110px; /* editado */
    }
}

/* ---------------------------------------------------------------- */
